RELAYER_PUBLIC_KEY=""
RELAYER_SECRET_KEY=""
DATABASE_URL=""
# The Lightsail Mainnet RPC
SOROBAN_RPC_URL=""

# The Mainnet Contract & Token
CONTRACT_ID=""
TOKEN_ID=""

TEXTBEE_GATEWAY_URL=""
TEXTBEE_API_KEY=""
TEXTBEE_DEVICE_ID=""

STELLAR_HORIZON_MAINNET_URL=""
STELLAR_NETWORK_PASSPHRASE=""

WEBHOOK_SECRET=""
